jupyter_collaboration
# tambahan opsional project-specific
ploomber
ploomber-engine
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
scipy
pygraphviz
tqdm
rich
requests
pyyaml
sqlalchemy
joblib
dvc[all]
papermill
pyTelegramBotAPI
psutil
